﻿@*Index.cshtml
    Copyright © 2014-2017 OSIsoft, LLC. All rights reserved.
    THIS SOFTWARE CONTAINS CONFIDENTIAL INFORMATION AND TRADE SECRETS OF OSIsoft, LLC.
    USE, DISCLOSURE, OR REPRODUCTION IS PROHIBITED WITHOUT THE PRIOR EXPRESS WRITTEN
    PERMISSION OF OSIsoft, LLC.

    RESTRICTED RIGHTS LEGEND
    Use, duplication, or disclosure by the Government is subject to restrictions
    as set forth in subparagraph (c)(1)(ii) of the Rights in Technical Data and
    Computer Software clause at DFARS 252.227.7013

    OSIsoft, LLC.
    1600 Alvarado Street, San Leandro, CA 94577*@

@using OSIsoft.PIVisualization.Database;
@using OSIsoft.PBViewer.Web.Properties

@{
    ViewBag.Title = Resources.ApplicationName;
    ViewBag.Message = "";
    Layout = null;
}

<!DOCTYPE html>
<html lang="@Resources.ResourceLanguage">
<head>
    <title>@ViewBag.Title</title>
    @{Html.RenderPartial("_CommonMeta");}
    @{Html.RenderPartial("_AppIcons");}

    @{  // Important: Initialize ContextPath and SecurityContext before bootstrapping the page.
        Html.RenderPartial("_InitializeContextPath");
        Html.RenderPartial("_InitializeSecurityContext");

        // Handle mobile site redirection after bootstrapping but before CSS rendering.
        Html.RenderPartial("_MobileSiteRedirection");
    }

    @Scripts.Render("~/bundles/modernizr")
    <script type="text/javascript">
        if (!Modernizr.svg) {
            window.location.href = '@Url.Content("~")' + 'Home/Index?noSupport=true';
        }

        @{
            bool flag = this.ViewBag.CapabilityType == CapabilityType.Publisher;
        }
        window.PIVisualization = window.PIVisualization || {};
        window.PIVisualization.isPublisher = @flag.ToString().ToLower();
        window.PIVisualization.navigationLinkWhitelist = '@OSIsoft.PIVisualization.Web.Controllers.EditorController.NavigationLinkWhitelist()';
        window.PIVisualization.navigationLinkSecurityOverride = @OSIsoft.PIVisualization.Web.Controllers.EditorController.NavigationLinkSecurityOverride.ToString().ToLower();
    </script>

    @Styles.Render("~/Content/css/styles/ext")
    @Styles.Render("~/Content/css/styles")
</head>

<body ng-app="editorApp" ng-controller="appController as app">

    @{Html.RenderPartial("_Header");}

    <div id="viewport" class="app-viewport" ui-view>
    </div>

    @{  // JavaScript initializations
        Html.RenderPartial("_InitializeResourceStrings");
        Html.RenderPartial("_InitializeIdentityContext");
        Html.RenderPartial("_InitializeClientSettings");
        Html.RenderPartial("_InitializeDateTimeFormatter");
    }

    @Scripts.Render("~/bundles/libraries/jquery")
    @Scripts.Render("~/bundles/jqueryui")
    @Scripts.Render("~/bundles/jqueryui/layout")
    @Scripts.Render("~/bundles/jquery-ui-patch")
    @Scripts.Render("~/bundles/libraries/hammer")
    @Scripts.Render("~/bundles/libraries/angular")
    @Scripts.Render("~/bundles/libraries/jstz")
    @Scripts.Render("~/bundles/touch-taps-patch")

    @Scripts.Render("~/bundles/kendo-patch")
    <script>
        window.PIVisualization.KendoPatch.preLoad();
    </script>
    @Scripts.Render("~/bundles/libraries/kendo")
    <script>
        window.PIVisualization.KendoPatch.postLoad();
        delete window.PIVisualization.KendoPatch;
    </script>

    @Scripts.Render("~/bundles/app")
    @Scripts.Render("~/bundles/app/editor/uservoice")
    @Scripts.Render("~/bundles/app/editor/polyfills")
    @Scripts.Render("~/bundles/app/editor")
    @Scripts.Render("~/bundles/app/editor/ext")
</body>
</html>
