﻿/*    
 <copyright file="Display.css" company="OSIsoft, LLC">
 Copyright © 2013-2017 OSIsoft, LLC. All rights reserved.
 THIS SOFTWARE CONTAINS CONFIDENTIAL INFORMATION AND TRADE SECRETS OF OSIsoft, LLC.
 USE, DISCLOSURE, OR REPRODUCTION IS PROHIBITED WITHOUT THE PRIOR EXPRESS WRITTEN
 PERMISSION OF OSIsoft, LLC.

 RESTRICTED RIGHTS LEGEND
 Use, duplication, or disclosure by the Government is subject to restrictions
 as set forth in subparagraph (c)(1)(ii) of the Rights in Technical Data and
 Computer Software clause at DFARS 252.227.7013

 OSIsoft, LLC.
 1600 Alvarado Street, San Leandro, CA 94577
 </copyright>    
*/

/* Styles common to both display types
---------------------------------------------------------*/
.displayContainer {
    display: block;
    position: absolute; /* for load spinner positioning */
    overflow: hidden;
}

.spin-active {
    z-index: 1000;
}

#displayWrapper {
    /* Disable iOS Safari highlighting when an element is tapped or pressed and the whole screen dims */
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    display: block;
    position: absolute;
    overflow: hidden;
    width: auto;
    height: auto;
}

/* Enable tap highlight in iOS Safari */
#displayWrapper a, #displayWrapper button {
    -webkit-tap-highlight-color: #999;
}

/* PB display
---------------------------------------------------------*/

#pbdisplay.display-loading > svg {
    opacity: 0.5;
}

#popupTrendContainer {
    /* fill entire display area */
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

#popupTrendContainer svg, #pbdisplay svg {
    line-height: normal; /* seen in IE: set display line height to default */
    width: 100%;
}

#pbdisplay svg a:hover {
    text-decoration: none; /* prevent button link underline effect */
}

/* allow interaction even if invisible */
#pbdisplay [data-symboltype][data-ismultistate="True"],
#pbdisplay [data-symboltype="10"], /* trend */
#pbdisplay [data-symboltype="12"], /* bar */
#pbdisplay [data-symboltype="7"] /* value */ {
    pointer-events: all;
}

/* popup trend mouse pointer */
#pbdisplay [data-symboltype][data-ismultistate="True"], /* any multistate elems */
#pbdisplay [data-symboltype="10"], /* trend */
#pbdisplay [data-symboltype="12"], /* bar */
#pbdisplay [data-symboltype="4"][data-ismultistate="True"] text, /* static text */
#pbdisplay [data-symboltype="7"] text { /* value */
    cursor: pointer;
}

/* text underline for popup trend */
/* Edge, all versions to Apr 2017, setting text-decoration of SVG elements causes text to shift
   https://developer.microsoft.com/en-us/microsoft-edge/platform/issues/7152164
*/
@supports not (-ms-ime-align:auto) {
    /* Exclude IE, Edge */
    #pbdisplay [data-symboltype="4"][data-ismultistate="True"]:hover text, /* static text */
    #pbdisplay [data-symboltype="7"]:hover text { /* value */
        text-decoration: underline;
    }
}

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {  
    /* Include IE only, not Edge */  
    #pbdisplay [data-symboltype="4"][data-ismultistate="True"]:hover text, /* static text */
    #pbdisplay [data-symboltype="7"]:hover text { /* value */
        text-decoration: underline;
    }
}

/* popup trend, prevent text highlighting, drag events, special iPad touch handling */
#popupTrendContainer * {
    -webkit-user-drag: none;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* allow text selection of popup trend legend entries */
#popupTrendContainer text.trendLegend {
    -webkit-user-select: text;
    -khtml-user-select: text;
    -moz-user-select: text;
    -ms-user-select: text;
    user-select: text;
}

#popupTrendContainer [data-cursor] * {
    cursor: default;
}

#pbdisplay-loadError {
    position: absolute;
    top: 30%;
    left: 0;
    right: 0;
    text-align: center;
    color: gray;
    font-size: 130%;
}

#processbook .container-fluid {
    padding: 0;
}

#processbook footer {
    position: fixed;
}

/* PIVisualization display
---------------------------------------------------------*/
#pivisualization .container-fluid {
    padding: 0;
}

/* ToolBar
---------------------------------------------------------*/
.toolBar-container {
    padding: 7px;
    border-width: 2px;
    text-align: center;
}

.toolBar-itemDisplayName span {
    display: inline-block;
}

.toolBar-itemDisplayName img {
    margin-top: 12px; /* center in toolbar */
}

@media (min-width: 1200px) {
    .toolBar-itemDisplayName span {
        max-width: 400px;
    }
}

@media (min-width: 800px) and (max-width: 1200px) {
    .toolBar-itemDisplayName span {
        max-width: 200px;
    }
}

@media (max-width: 799px) {
    .toolBar-itemDisplayName span {
        max-width: 100px;
    }
}

.toolBar-itemAdHoc img {
    vertical-align: middle;
}

.toolBar-itemEmail img {
    vertical-align: middle;
}

#zoomControl {
    position: fixed !important;
    bottom: 52px;
    right: 20px;
    opacity: 0.9;
    z-index: 9999;
    list-style-type: none;
}

div.button-zoom-control {
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    -moz-align-items: center;
    align-items: center;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    border: 1px solid rgba(0,0,0,0.1);
    -webkit-border-image: none;
    -moz-border-image: none;
    border-image: none;
    background: none;
    text-decoration: none;
    margin-bottom: 1px;
    border-radius: 2px;
    width: 36px;
    height: 36px;
    background-color: rgba(0, 0, 0, 0.3);
    opacity: 0.2;
    outline: none;
}

div.button-zoom-control:hover {
    cursor: pointer;
    border: 1px solid rgba(48,48,48,.9);
    outline: none;
}

/* Timebar
---------------------------------------------------------*/
#timebar-form {
    height: 32px;
    padding: 3px;
    min-width: 320px; /* matches toolbar min-width */
    white-space: nowrap;
    border-top: 1px solid rgba(255, 255, 255, 0.11);
}

footer .buttonbar {
    white-space: nowrap;
    position: absolute;
    top: -33px;
    left: 50%;
    width: 275px;
    margin-left: -150.5px;
    padding-bottom: 2px;
    text-align: center;
    border: 1px solid rgba(255, 255, 255, 0);
    -webkit-transition: opacity 0.15s ease-in-out;
    -moz-transition: opacity 0.15s ease-in-out;
    transition: opacity 0.15s ease-in-out;
}

footer .buttonbar > button {
    background-color: #968e86;
    border: 1px solid rgba(230,231,232,.3);
    border-radius: 4px;
    -webkit-box-shadow: 0 2px 5px -2px rgba(0,0,0,.8);
    -moz-box-shadow: 0 2px 5px -2px rgba(0,0,0,.8);
    box-shadow: 1px 1px 2px 1px rgba(0,0,0,.8);
    color: #fff;
    display: inline-block;
    min-height: 24px;
    min-width: 48px;
    padding: 0 4px;
    position: relative;
}

footer .buttonbar > button:hover {
    -webkit-transition: opacity .35s ease-in-out;
    -moz-transition: opacity .35s ease-in-out;
    transition: opacity .35s ease-in-out;
    background: rgba(230,231,232,.1);
    border: 1px solid rgba(230,231,232,.55);
    box-shadow: 0 2px 5px -2px rgba(0,0,0,.75);
    color: #fff;
    cursor: pointer;
    outline: none;
}

footer div[data-buttonbar] > button {
    min-height: 38px;
    min-width: 55px;
    position: relative;
    float: left;
    height: 34px;
    margin: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
}

footer div[data-buttonbar] > button:first-child {
    -webkit-border-bottom-left-radius: 4px;
    -moz-border-radius-bottomleft: 4px;
    border-bottom-left-radius: 4px;
    -webkit-border-top-left-radius: 4px;
    -moz-border-radius-topleft: 4px;
    border-top-left-radius: 4px;
}

footer input[type="text"] {
    background-color: #716F6C;
    border: 1px solid rgba(255,255,255,.18);
    border-bottom: 2px solid #575552
    border-radius: 2px;
    color: #fff;
    cursor: text;
    font-size: 14px;
    height: 22px;
    margin: 2px 4px 0;
    text-align: center;
    width: 180px;
}

/* Override to accomodate Korean times with subsecond precision */
footer input[type="text"]:lang(ko) {
    font-size: 12px;
}

footer input[type="text"]:focus {
    background-color: rgba(45,106,148,.9);
    border: 1px solid rgba(255,255,255,.5);
     -webkit-box-shadow: inset 1px 1px 1px -4px rgba(0,0,0,0.5);
    -moz-box-shadow: inset 1px 1px 14px -4px rgba(0,0,0,0.5);
    box-shadow: inset 1px 1px 14px -4px rgba(0,0,0,.5);
    outline: none;
}

footer input[type="text"]:disabled {
    opacity: 0.2;
    pointer-events: none;
}

footer input[type="text"].timebar-error:not(:focus) {
    background-color: #cc0000;
}

footer input[type="text"].timebar-error:focus {
    border-color: #cc0000;
}

footer input:first-of-type {
    float: left;
}

footer input:last-of-type {
    float: right;
}

footer button:hover,
footer button:focus {
    background-position: 0 -15px;
    -webkit-transition: background-position 0.1s linear;
    -moz-transition: background-position 0.1s linear;
    transition: background-position 0.1s linear;
}

footer button:active,
.timebar-button-active {
    background-color: #cccccc \9;
    background-image: none;
    outline: 0;
    -webkit-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
    box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
}

footer button:disabled {
    pointer-events: none;
    background-image: none;
    opacity: 0.25;
    filter: alpha(opacity=25);
}

footer button {
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-size: 14px;
    height: 26px;
    margin-top: 2px;
    outline: none;
    text-align: center;
    vertical-align: middle;
    width: 50px;
}

footer button.arrows {
    background-color: transparent;
    cursor: pointer;
    display: inline-block;
    fill: rgba(255,255,255,.8);
    text-align: center;
    vertical-align: middle;
    width: 40px;
}

footer button.arrows:hover,
footer button.arrows:focus,
footer button.arrows:active {
    cursor: pointer;
    outline: none;
    fill: #fff;
}

footer button.arrows:active {
    fill: rgba(255, 255, 255, 0.6);
}

footer button.now {
    width: auto;
    min-width: 80px;
    display: inline-block;
    color: #fff;
    border: 1px solid rgba(230, 231, 232, 0.3);
    border-radius: 4px;
    background-color: transparent;
    float: right;
    margin-right: 8px;
    padding: 0 8px;
}

footer button.duration {
    background-color: #968e86;
    border: 1px solid rgba(230,231,232,.3);
    border-radius: 4px;
    box-shadow: 1px 1px 2px 1px rgba(0,0,0,.8);
    color: #fff;
    cursor: pointer;
    font-size: 16px;
    min-width: 80px;
    padding: 0 8px;
    width: auto;
}

footer button.duration:hover,
footer button.duration:focus,
footer button.duration:active,
footer button.now:hover,
footer button.now:focus,
footer button.now:active {
    border: 1px solid rgba(230, 231, 232, 0.7);
    outline: none;
    cursor: pointer;
    -webkit-box-shadow: 0 2px 5px -2px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0 2px 5px -2px rgba(0, 0, 0, 0.75);
    box-shadow: 0 2px 5px -2px rgba(0, 0, 0, 0.75);
}

footer button.duration:hover,
footer button.now:hover {
    background: rgba(230, 231, 232, 0.1);
}

/* 'Maintenant' is long */
footer button.now:lang(fr) {
    font-size: 12px;
}

footer button.timebar-isupdating:hover {
    background-color: #239A23;
}

footer button.timebar-isupdating {
    color: #fff;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    background-color: #239A23;
    background-repeat: repeat-x;
    border: 1px solid rgba(230, 231, 232, 0.55);
}

footer button.timebar-isupdating:active {
    color: rgba(255, 255, 255, 0.75);
}

#timebar-small {
    height: 20px;
    line-height: 20px;
    min-width: 320px; /* must match other toolbars on page */
    background-color: #968e86;
    color: #fff;
    padding: 0 3px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.8);
}

#start-time-small {
    float: left;
    margin-left: 12px;
    font-size: 11px;
    max-width: 40%;
}

#end-time-small {
    float: right;
    margin-right: 12px;
    font-size: 11px;
    max-width: 40%;
}


/* Timebar responsive layout
---------------------------------------------------------*/
@media (min-width: 900px) {
    #timebar-small {
        display: none;
    }
}

@media (max-width: 899px) {
    #start-time-input,
    #end-time-input {
        display: none;
    }
}

@media (min-width: 450px) {
    footer .time-navigation {
        position: absolute;
        left: 50%;
        height: 34px;
        margin-left: -100px;
    }
}

@media (max-width: 449px) {
    footer .time-navigation {
        position: absolute;
        left: 0;
        height: 34px;
        margin-left: 12px;
    }
}

/* Display printing 
-------------------------------------------------------- */

/* Hide the logo with dark background, when not printing */
div#toolbar-homepage-enabled::before {
    display: none;
    position: absolute;
    top: 0px;
    left: 0px;
    content: url("../../../Images/logo_pi_print.png"); 
}

@media print {
    div.body-container {
        /* width and height are optimized for A4 size paper, with default margins */
        width: 14.5in;
        height: 9in; 
    }

    a#pivisualization-logo {
        display: none;
    }

    /* Show logo with dark background, when printing */
    div#toolbar-homepage-enabled::before {
        display: block;
        position: absolute;
        top: 0px;
        left: 0px;
        content: url("../../../Images/logo_pi_print.png"); 
    }
}
