﻿/* CSS applicable to all toolbars */

/*@media (max-width: 800px) {
    .toolBar-expendable {
        display: none !important;
    }
}*/

.toolbar-homepage-logo {
    display: block;
    background-repeat: no-repeat;
    background-image: none;
    width: 178px; 
}


@media (max-width: 550px) {
    .toolBar-displayNameExpendable {
        display: none !important;
    }
}

.pageToolbar {
    padding: 0 1em 0 0;
}

/* button styles */

.toolBar-rectButton {
    background-color: #0073cf; /* this color is part of a theme */
    border-radius: 2px;
    white-space: nowrap;
    margin-top: 10px;
    padding: 0 6px;
    height: 25px;
    line-height: 25px;
}

.toolBar-rectButton:hover {
    background-color: #47A4EA;
}

/* toolbar items */

.pageToolbar {
    background-color: #293d5d;
    overflow: hidden;
    color: white;
    text-align: center;
    min-width: 320px; /* matches timebar min-width */
    height: 45px;
}

.pageToolbar > ul {
    list-style-type: none;
    margin: 0 0.2em 0 0.4em;
    margin-right: 30px;
}

.pageToolbar > ul > li {
    margin: 0 0.6em;
    height: 43px; /* full toolbar height */
    line-height: 43px;
    white-space: nowrap;
}

.pageToolbar img {
    vertical-align: top; /* center images using padding */
}

.pageToolbar a {
    color: white;
    text-decoration: none;
}

.pageToolbar a:hover {
    cursor: pointer;
    background-color: transparent;
}

.toolBar-itemLogo {
    float: left;
}

.badge.toolBar-messageLevel2 { /* Info level */
    background-color: #A1A9B6; /* should match the message icon color */
}

.toolBar-messageLevel1 { /* Warning level */
    background-color: #FFC500;
}

.toolBar-messageLevel0 { /* Error level */
    background-color: #CF0000;
}

.toolBar-itemMessages a {
    position: relative; /* for positioning of # messages */
}

.toolBar-itemMessages span {
    position: absolute; /* inside link elem */
    right: -3px;
    bottom: -10px;
    padding-left: 3px;
    padding-right: 3px;
    font-size: 11px;
}

.toolBar-itemMessages img {
    margin-top: 10px;
    border-radius: 2px;
    width: 25px;
    height: 25px;
}

.toolBar-itemMessages a:hover {
    -webkit-filter: brightness(1.1);
    -moz-filter: brightness(1.1);
    -ms-filter: brightness(1.1);
    filter: brightness(1.1);
}

.email-icon {
    fill: #FFF;
}

.help-icon {
    display: inline-block;
    fill: #fff;
    margin-top: 3px;
}

.help-text {
    fill: #0073cf;
}

.new-display-rollover {
    display: flex;
    color: #FFF;
    fill: #FFF;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
}

.new-display-rollover div {
    display: inline-block;
    vertical-align: middle;
    height: 45px;
    line-height: 47px;
}

.new-display-icon {
    margin-top: 12px;
}

.display-text {
    font-size: 16px;
    color: #FFF;
}

.icon-display {
    display: flex;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    width: 120px;
    height: 30px;
    align-items: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    border: none;
    border-image: none;
    background: none;
    text-decoration: none;
    outline: 0;
    margin-top: 5px;
}

.icon-display:hover {
    display: flex;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    width: 120px;
    height: 30px;
    align-items: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    border: 1px solid rgba(230, 231, 232, 0.55);
    background: rgba(230, 231, 232, 0.10);
    -webkit-box-shadow: 0px 2px 5px -2px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 2px 5px -2px rgba(0,0,0,0.75);
    box-shadow: 0px 2px 5px -2px rgba(0,0,0,0.75);
    cursor: pointer;
    margin-top: 5px;
}

.icon-help {
    position: absolute;
    width: 30px;
    height: 30px;
    align-items: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    border: none;
    border-image: none;
    background: none;
    text-decoration: none;
    outline: 0;
    margin-top: 5px;
    padding-bottom: 2px;
    padding-left: 2px;
    margin-right: 25px;
}

.icon-help:hover {
    position: absolute;
    width: 30px;
    height: 30px;
    align-items: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    border: 1px solid rgba(230, 231, 232, 0.55);
    background: rgba(230, 231, 232, 0.10);
    -webkit-box-shadow: 0px 2px 5px -2px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 2px 5px -2px rgba(0,0,0,0.75);
    box-shadow: 0px 2px 5px -2px rgba(0,0,0,0.75);
    cursor: pointer;
    margin-top: 5px;
    padding-bottom: 2px;
    padding-left: 2px;
    margin-right: 25px;
}

.icon-email {
    width: 35px;
    height: 25px;
    align-items: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    border: 1px solid rgba(230, 231, 232, 0.01);
    border-image: none;
    background: none;
    text-decoration: none;
    outline: 0;
    margin-top: 10px;
    float: right;
}

.icon-email:hover {
    float: right;
    width: 35px;
    height: 25px;
    align-items: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    border: 1px solid rgba(230, 231, 232, 0.55);
    background: rgba(230, 231, 232, 0.10);
    -webkit-box-shadow: 0px 2px 5px -2px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 2px 5px -2px rgba(0,0,0,0.75);
    box-shadow: 0px 2px 5px -2px rgba(0,0,0,0.75);
    cursor: pointer;
    margin-top: 10px;
}

/* User Menu */
.c-user-name {
    color: white;
    font-size: 12px;
    text-decoration: none;
}

#toolBar-itemUserMenu {
    padding: 4px 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.c-user-info,
.c-user-info-win-auth {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;

    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;

    -webkit-box-pack: justify;
    -webkit-justify-content: center;
    -ms-flex-pack: justify;
    -moz-box-pack: justify;
    justify-content: center;

    border: 1px solid rgba(230, 231, 232, 0.01);
    padding: 2px;
    cursor: default;
    height: 34px;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.c-user-info:hover {
    border: 1px solid rgba(230, 231, 232, 0.55);
    background: rgba(230, 231, 232, 0.10);
    -webkit-box-shadow: 0 2px 5px -2px rgba(0,0,0,0.75);
    -moz-box-shadow: 0 2px 5px -2px rgba(0,0,0,0.75);
    box-shadow: 0 2px 5px -2px rgba(0,0,0,0.75);
    cursor: pointer;
    -webkit-transition: all 0.15s ease-in-out;
    -moz-transition: all 0.15s ease-in-out;
    transition: all 0.15s ease-in-out;
}

.c-user-dropdown-menu ul {
    list-style: none;
    position: absolute;
    z-index: 1;
    top: 43px;
    right: 68px;
    min-width: 170px;
    width: auto;
    height: 72px;
    padding: 10px;
    border-radius: 0 0 2px 2px;
    background-color: #968e86;
    -webkit-box-shadow: 1px 1px 2px rgba(0,0,0,0.3);
    -moz-box-shadow: 1px 1px 2px rgba(0,0,0,0.3);
    box-shadow: 1px 1px 2px rgba(0,0,0,0.3);
    text-align: center;
    cursor: default;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.signout-button {
    cursor: pointer;
}

.signout-button:hover input {
    color: #6fa0e9;
}

.signout-button input {
    background: none;
    border: none;
    color: white;
    padding-bottom: 4px;
    cursor: pointer;
    font-size: 14px;
}

.c-user-email {
    font-size: 12px;
}

.c-dropdown-splitter {
    background: #000000;
    height: 1px;
    width: 140px;
    margin: 2px auto 4px auto;
    border-bottom: 1px solid #27374D;
}

.toolBar-divider {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;

    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;

    -webkit-box-pack: justify;
    -webkit-justify-content: center;
    -ms-flex-pack: justify;
    -moz-box-pack: justify;
    justify-content: center;

    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin-right: 10px;
}
