﻿<link rel="apple-touch-icon" sizes="120x120" href="~/Public/Images/appicon120.png" />
<link rel="apple-touch-startup-image" href="~/Public/Images/splash640x1096.png" />
<link rel="icon" sizes="57x57" href="~/Public/Images/appicon57.png" />
<link rel="icon" sizes="72x72" href="~/Public/Images/appicon72.png" />
<link rel="icon" sizes="76x76" href="~/Public/Images/appicon76.png" />
<link rel="icon" sizes="114x114" href="~/Public/Images/appicon114.png" />
<link rel="icon" sizes="128x128" href="~/Public/Images/appicon128.png" />
<link rel="icon" sizes="144x144" href="~/Public/Images/appicon144.png" />
<link rel="icon" sizes="152x152" href="~/Public/Images/appicon152.png" />
<link rel="icon" sizes="196x196" href="~/Public/Images/appicon196.png" />
<link rel="shortcut icon" type="image/x-icon" href="~/favicon.ico?v=2" />