/***SASS Color Variables for all themes Use descritive names in your classes when possible.
    Do not add any colors to these variables without prior approval as this is a shared
    library and may effect other applications***/
/*---------------------------------------------*\
        #SECTION-BASE-COLOR-VARIABLES
\*---------------------------------------------*/
/*---------------------------------------------*\
        #SECTION-SEVERITY-COLORS-VARIABLES
\*---------------------------------------------*/
/*---------------------------------------------*\
  #SECTION-DESCRIPTIVE-BASE-COLORS_VARIABLES
\*---------------------------------------------*/
/*---------------------------------------------*\
  #SECTION-FUNCTIONAL-BASE-COLORS_VARIABLES
\*---------------------------------------------*/
/*---------------------------------------------*\
  #SECTION-THEMING MIXINS
\*---------------------------------------------*/
/*---------------------------------------------*\
  #SECTION-FLEXBOX BASE MIXINS
\*---------------------------------------------*/
/*---------------------------------------------*\
  #SECTION-BOX SHADOWS-BASE-MIXINS
\*---------------------------------------------*/
/*---------------------------------------------*\
  #SECTION-BOX Animation & Keyframes -MIXINS
\*---------------------------------------------*/
/*---------------------------------------------*\
  #SECTION-TRANSITION-MIXINS
\*---------------------------------------------*/
/*---------------------------------------------*\
  #SECTION-BOX Box-Model -MIXINS
\*---------------------------------------------*/
/*---------------------------------------------*\
  #SECTION-Text
\*---------------------------------------------*/
/*---------------------------------------------*\
        #SECTION-ANGULAR (KEEP AT TOP)
\*---------------------------------------------*/
[ng\:cloak],
[ng-cloak],
[data-ng-cloak],
[x-ng-cloak],
.ng-cloak,
.x-ng-cloak {
  display: none !important; }

/*---------------------------------------------*\
        #SECTION-BROWSER-RESETS
\*---------------------------------------------*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  border: 0;
  font-size: 100%;
  margin: 0;
  padding: 0;
  vertical-align: baseline; }

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block; }

body {
  line-height: 1; }

ol,
ul {
  list-style: none; }

blockquote::before,
blockquote::after,
q::before,
q::after {
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/***SASS Color Variables for all themes Use descritive names in your classes when possible.
    Do not add any colors to these variables without prior approval as this is a shared
    library and may effect other applications***/
/*---------------------------------------------*\
        #SECTION-BASE-COLOR-VARIABLES
\*---------------------------------------------*/
/*---------------------------------------------*\
        #SECTION-SEVERITY-COLORS-VARIABLES
\*---------------------------------------------*/
/*---------------------------------------------*\
  #SECTION-DESCRIPTIVE-BASE-COLORS_VARIABLES
\*---------------------------------------------*/
/*---------------------------------------------*\
  #SECTION-FUNCTIONAL-BASE-COLORS_VARIABLES
\*---------------------------------------------*/
/*---------------------------------------------*\
  #SECTION-THEMING MIXINS
\*---------------------------------------------*/
/*---------------------------------------------*\
  #SECTION-FLEXBOX BASE MIXINS
\*---------------------------------------------*/
/*---------------------------------------------*\
  #SECTION-BOX SHADOWS-BASE-MIXINS
\*---------------------------------------------*/
/*---------------------------------------------*\
  #SECTION-BOX Animation & Keyframes -MIXINS
\*---------------------------------------------*/
/*---------------------------------------------*\
  #SECTION-TRANSITION-MIXINS
\*---------------------------------------------*/
/*---------------------------------------------*\
  #SECTION-BOX Box-Model -MIXINS
\*---------------------------------------------*/
/*---------------------------------------------*\
  #SECTION-Text
\*---------------------------------------------*/
/***SASS Color Variables for all themes Use descritive names in your classes when possible.
    Do not add any colors to these variables without prior approval as this is a shared
    library and may effect other applications***/
/*---------------------------------------------*\
        #SECTION-BASE-COLOR-VARIABLES
\*---------------------------------------------*/
/*---------------------------------------------*\
        #SECTION-SEVERITY-COLORS-VARIABLES
\*---------------------------------------------*/
/*---------------------------------------------*\
  #SECTION-DESCRIPTIVE-BASE-COLORS_VARIABLES
\*---------------------------------------------*/
/*---------------------------------------------*\
  #SECTION-FUNCTIONAL-BASE-COLORS_VARIABLES
\*---------------------------------------------*/
/*---------------------------------------------*\
        #SECTION-GLOBAL
\*---------------------------------------------*/
* {
  margin: 0;
  padding: 0; }

html {
  height: 100%;
  overflow-y: auto; }

body {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-direction: normal;
  -webkit-box-orient: vertical;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  background-color: #303030;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  height: 100%;
  min-height: 100%;
  vertical-align: baseline; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

th {
  font-weight: normal; }

.container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  width: 100%; }

.position-fixed {
  position: fixed; }

.spacer5 {
  height: 5px; }

.spacer10 {
  height: 10px; }

.spacer15 {
  height: 15px; }

.spacer20 {
  height: 20px; }

.spacer25 {
  height: 25px; }

.spacer30 {
  height: 30px; }

/***SASS Color Variables for all themes Use descritive names in your classes when possible.
    Do not add any colors to these variables without prior approval as this is a shared
    library and may effect other applications***/
/*---------------------------------------------*\
        #SECTION-BASE-COLOR-VARIABLES
\*---------------------------------------------*/
/*---------------------------------------------*\
        #SECTION-SEVERITY-COLORS-VARIABLES
\*---------------------------------------------*/
/*---------------------------------------------*\
  #SECTION-DESCRIPTIVE-BASE-COLORS_VARIABLES
\*---------------------------------------------*/
/*---------------------------------------------*\
  #SECTION-FUNCTIONAL-BASE-COLORS_VARIABLES
\*---------------------------------------------*/
.scroll::-webkit-scrollbar {
  height: 9px;
  width: 9px; }

.scroll::-webkit-scrollbar-button {
  height: 2px;
  width: 2px; }

.scroll::-webkit-scrollbar-thumb {
  background: rgba(128, 128, 128, 0.79);
  border-radius: 4px;
  height: 4px; }

.scroll::-webkit-scrollbar-thumb:hover {
  background: rgba(48, 48, 48, 0.75); }

.scroll::-webkit-scrollbar-thumb:active {
  background: rgba(48, 48, 48, 0.75); }

.scroll::-webkit-scrollbar-corner {
  background: transparent; }

.scroll::-webkit-scrollbar-track {
  background-color: #e1e1e1;
  border-radius: 10px; }

.scroll-legend::-webkit-scrollbar {
  height: 11px;
  width: 11px; }

.scroll-legend::-webkit-scrollbar-button {
  height: 2px;
  width: 2px; }

.scroll-legend::-webkit-scrollbar-thumb {
  background: #9e9e9e;
  border-radius: 4px;
  height: 4px; }

.scroll-legend::-webkit-scrollbar-thumb:hover {
  background: #93cadc; }

.scroll-legend::-webkit-scrollbar-thumb:active {
  background: #93cadc; }

.scroll-legend::-webkit-scrollbar-corner {
  background: transparent; }

.scroll-legend::-webkit-scrollbar-track {
  border-radius: 10px;
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3); }

/***SASS Color Variables for all themes Use descritive names in your classes when possible.
    Do not add any colors to these variables without prior approval as this is a shared
    library and may effect other applications***/
/*---------------------------------------------*\
        #SECTION-BASE-COLOR-VARIABLES
\*---------------------------------------------*/
/*---------------------------------------------*\
        #SECTION-SEVERITY-COLORS-VARIABLES
\*---------------------------------------------*/
/*---------------------------------------------*\
  #SECTION-DESCRIPTIVE-BASE-COLORS_VARIABLES
\*---------------------------------------------*/
/*---------------------------------------------*\
  #SECTION-FUNCTIONAL-BASE-COLORS_VARIABLES
\*---------------------------------------------*/
/***SASS Color Variables for all themes Use descritive names in your classes when possible.
    Do not add any colors to these variables without prior approval as this is a shared
    library and may effect other applications***/
/*---------------------------------------------*\
        #SECTION-BASE-COLOR-VARIABLES
\*---------------------------------------------*/
/*---------------------------------------------*\
        #SECTION-SEVERITY-COLORS-VARIABLES
\*---------------------------------------------*/
/*---------------------------------------------*\
  #SECTION-DESCRIPTIVE-BASE-COLORS_VARIABLES
\*---------------------------------------------*/
/*---------------------------------------------*\
  #SECTION-FUNCTIONAL-BASE-COLORS_VARIABLES
\*---------------------------------------------*/
/*---------------------------------------------*\
  #SECTION-THEMING MIXINS
\*---------------------------------------------*/
/*---------------------------------------------*\
  #SECTION-FLEXBOX BASE MIXINS
\*---------------------------------------------*/
/*---------------------------------------------*\
  #SECTION-BOX SHADOWS-BASE-MIXINS
\*---------------------------------------------*/
/*---------------------------------------------*\
  #SECTION-BOX Animation & Keyframes -MIXINS
\*---------------------------------------------*/
/*---------------------------------------------*\
  #SECTION-TRANSITION-MIXINS
\*---------------------------------------------*/
/*---------------------------------------------*\
  #SECTION-BOX Box-Model -MIXINS
\*---------------------------------------------*/
/*---------------------------------------------*\
  #SECTION-Text
\*---------------------------------------------*/
/** This css file comtains the struture elements (OOCSS) of the header, which includes positioning and flexbox. Colors can be found
in the theme.scss file. When creating new classes build the classes off the default claases. Example if you needed a center container copy
c-osi-header-container-left remane c-osi-header-container-center and just change the flex order: 2


/*---------------------------------------------*\
             #SECTION-HEADER
\*---------------------------------------------*/
/**
    *The header-main class apply class t-header-main--color .
    *Example class struture in html for the header class <header class="c-header-main  t-header-main--color  t-border-bottom">
 */
.c-header {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-direction: normal;
  -webkit-box-orient: horizontal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  height: 43px; }

.c-header-container {
  height: 43px;
  width: 100%; }

/*---------------------------------------------*\
        #SECTION-HEADER-LEFT-SIDE
\*---------------------------------------------*/
.c-header-container-left {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-ordinal-group: 2;
  -webkit-order: 1;
  -moz-order: 1;
  -ms-flex-order: 1;
  order: 1;
  margin-left: 2px; }

.c-app-logo {
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  align-items: center;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-ordinal-group: 1;
  -webkit-order: 0;
  -moz-order: 0;
  -ms-flex-order: 0;
  order: 0;
  margin-left: 6px; }

.c-app-logo:hover {
  cursor: pointer; }

/*---------------------------------------------*\
        #SECTION-HEADER-CENTER
\*---------------------------------------------*/
.c-header-container-center {
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  align-items: center;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-ordinal-group: 2;
  -webkit-order: 1;
  -moz-order: 1;
  -ms-flex-order: 1;
  order: 1;
  margin: 0 10px; }

/*---------------------------------------------*\
        #SECTION-HEADER-RIGHT-SIDE
\*---------------------------------------------*/
.c-header-container-right {
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  align-items: center;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-ordinal-group: 3;
  -webkit-order: 2;
  -moz-order: 2;
  -ms-flex-order: 2;
  order: 2;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  font-size: 12px;
  margin-right: 16px; }

.c-header-text {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-ordinal-group: 7;
  -webkit-order: 6;
  -moz-order: 6;
  -ms-flex-order: 6;
  order: 6;
  font-size: 12px;
  padding-right: 5px; }

/*---------------------------------------------*\
        #SECTION-HEADER-ICONS
\*---------------------------------------------*/
.c-divider {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-ordinal-group: 1;
  -webkit-order: 0;
  -moz-order: 0;
  -ms-flex-order: 0;
  order: 0;
  margin-right: 10px; }

.c-new-display {
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  align-items: center;
  -webkit-box-ordinal-group: 1;
  -webkit-order: 0;
  -moz-order: 0;
  -ms-flex-order: 0;
  order: 0;
  cursor: pointer;
  display: inline-block;
  fill: #fff;
  margin: 0 10px;
  white-space: nowrap; }

.c-icon-large {
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  align-items: center;
  -webkit-box-ordinal-group: 1;
  -webkit-order: 0;
  -moz-order: 0;
  -ms-flex-order: 0;
  order: 0;
  display: inline-block;
  fill: #fff;
  margin: 0 10px; }

.c-icon-large-rollover {
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  align-items: center;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex; }

.c-new-display-rollover {
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  align-items: center;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex; }

.c-new-display-icon {
  margin-top: 5px; }

.c-asset-rollover {
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  align-items: center;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  margin-left: 10px; }

@media only screen and (max-device-width: 768px) and (orientation: portrait) {
  .c-asset-rollover {
    margin-left: 1px; } }
@media only screen and (max-device-width: 1024px) and (orientation: landscape) {
  .c-asset-rollover {
    margin-left: 15px; } }
.c-icon-notifications {
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  align-items: center;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-ordinal-group: 3;
  -webkit-order: 2;
  -moz-order: 2;
  -ms-flex-order: 2;
  order: 2;
  margin: -2px 2px 0 0; }

.c-icon-help {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-ordinal-group: 4;
  -webkit-order: 3;
  -moz-order: 3;
  -ms-flex-order: 3;
  order: 3; }

.c-touch-mode-toggle {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-box-ordinal-group: 0;
  -webkit-order: -1;
  -moz-order: -1;
  -ms-flex-order: -1;
  order: -1;
  height: 44px;
  padding: 2px;
  width: 44px; }

.c-touch-mode-toggle:hover {
  cursor: pointer; }

.touch-mode-on {
  fill: #93cadc; }

.touch-mode-off {
  fill: #fff; }

.c-icon-settings {
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  align-items: center;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-ordinal-group: 3;
  -webkit-order: 2;
  -moz-order: 2;
  -ms-flex-order: 2;
  order: 2;
  margin-right: 8px; }

/*---------------------------------------------*\
       #SECTION-EVENT-COMPARISON-HEADER
\*---------------------------------------------*/
header {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-direction: normal;
  -webkit-box-orient: horizontal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  color: #fff;
  height: 43px; }

.header-container {
  height: 43px;
  width: 100%; }

.header-container-left {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  margin-left: 2px; }

.header-text {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-ordinal-group: 2;
  -webkit-order: 1;
  -moz-order: 1;
  -ms-flex-order: 1;
  order: 1;
  color: #8c8c8b;
  font-size: 14px;
  margin-top: 3px;
  padding-right: 15px;
  text-align: center; }

.pivisualization-logo {
  -ms-flex-item-align: center;
  align-self: center;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin: 6px 0 0 10px; }

.pivisualization-logo:hover {
  cursor: pointer; }

.logo-fill {
  fill: #93cadc; }

.header-container-right {
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  align-items: center;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  font-size: 12px;
  margin-right: 30px; }

.help {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-ordinal-group: 4;
  -webkit-order: 3;
  -moz-order: 3;
  -ms-flex-order: 3;
  order: 3;
  margin-top: -5px; }

.display-circle {
  border: thin solid #333; }

/***SASS Color Variables for all themes Use descritive names in your classes when possible.
    Do not add any colors to these variables without prior approval as this is a shared
    library and may effect other applications***/
/*---------------------------------------------*\
        #SECTION-BASE-COLOR-VARIABLES
\*---------------------------------------------*/
/*---------------------------------------------*\
        #SECTION-SEVERITY-COLORS-VARIABLES
\*---------------------------------------------*/
/*---------------------------------------------*\
  #SECTION-DESCRIPTIVE-BASE-COLORS_VARIABLES
\*---------------------------------------------*/
/*---------------------------------------------*\
  #SECTION-FUNCTIONAL-BASE-COLORS_VARIABLES
\*---------------------------------------------*/
/*---------------------------------------------*\
  #SECTION-THEMING MIXINS
\*---------------------------------------------*/
/*---------------------------------------------*\
  #SECTION-FLEXBOX BASE MIXINS
\*---------------------------------------------*/
/*---------------------------------------------*\
  #SECTION-BOX SHADOWS-BASE-MIXINS
\*---------------------------------------------*/
/*---------------------------------------------*\
  #SECTION-BOX Animation & Keyframes -MIXINS
\*---------------------------------------------*/
/*---------------------------------------------*\
  #SECTION-TRANSITION-MIXINS
\*---------------------------------------------*/
/*---------------------------------------------*\
  #SECTION-BOX Box-Model -MIXINS
\*---------------------------------------------*/
/*---------------------------------------------*\
  #SECTION-Text
\*---------------------------------------------*/
/**** These Classes control the left menu layout to add colors to the classes you need to include a color class from the theme partial, such as t-menu-bg-color.
      Rememeber the color styles are global and are shared styles and changes should not be made to the file
      as it will effect the look and feel of other applcations. *****/
.c-menu-container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-direction: normal;
  -webkit-box-orient: vertical;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  height: 100%;
  margin-top: 6px;
  width: 50px; }

.c-menu {
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  align-items: center;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-direction: normal;
  -webkit-box-orient: vertical;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  height: 100%;
  z-index: 10; }

.c-menu-icon {
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  align-items: center;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-direction: normal;
  -webkit-box-orient: vertical;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  font-size: 14px; }

.c-menu-header {
  height: 52px;
  width: 50.33px; }

/*---------------------------------------------*\
        #SECTION-BASE-HEADING-STYLES
\*---------------------------------------------*/
h1 {
  font-size: 32px; }

h2 {
  font-size: 28px; }

h3 {
  font-size: 24px; }

h4 {
  font-size: 20px; }

h5 {
  font-size: 18px; }

h6 {
  font-size: 16px; }

/***SASS Color Variables for all themes Use descritive names in your classes when possible.
    Do not add any colors to these variables without prior approval as this is a shared
    library and may effect other applications***/
/*---------------------------------------------*\
        #SECTION-BASE-COLOR-VARIABLES
\*---------------------------------------------*/
/*---------------------------------------------*\
        #SECTION-SEVERITY-COLORS-VARIABLES
\*---------------------------------------------*/
/*---------------------------------------------*\
  #SECTION-DESCRIPTIVE-BASE-COLORS_VARIABLES
\*---------------------------------------------*/
/*---------------------------------------------*\
  #SECTION-FUNCTIONAL-BASE-COLORS_VARIABLES
\*---------------------------------------------*/
/*---------------------------------------------*\
  #SECTION-THEMING MIXINS
\*---------------------------------------------*/
/*---------------------------------------------*\
  #SECTION-FLEXBOX BASE MIXINS
\*---------------------------------------------*/
/*---------------------------------------------*\
  #SECTION-BOX SHADOWS-BASE-MIXINS
\*---------------------------------------------*/
/*---------------------------------------------*\
  #SECTION-BOX Animation & Keyframes -MIXINS
\*---------------------------------------------*/
/*---------------------------------------------*\
  #SECTION-TRANSITION-MIXINS
\*---------------------------------------------*/
/*---------------------------------------------*\
  #SECTION-BOX Box-Model -MIXINS
\*---------------------------------------------*/
/*---------------------------------------------*\
  #SECTION-Text
\*---------------------------------------------*/
/***SASS Color Variables for all themes Use descritive names in your classes when possible.
    Do not add any colors to these variables without prior approval as this is a shared
    library and may effect other applications***/
/*---------------------------------------------*\
        #SECTION-BASE-COLOR-VARIABLES
\*---------------------------------------------*/
/*---------------------------------------------*\
        #SECTION-SEVERITY-COLORS-VARIABLES
\*---------------------------------------------*/
/*---------------------------------------------*\
  #SECTION-DESCRIPTIVE-BASE-COLORS_VARIABLES
\*---------------------------------------------*/
/*---------------------------------------------*\
  #SECTION-FUNCTIONAL-BASE-COLORS_VARIABLES
\*---------------------------------------------*/
.app-viewport {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-direction: normal;
  -webkit-box-orient: vertical;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-flex: 1 1;
  -moz-box-flex: 1 1;
  -ms-flex: 1 1;
  -webkit-flex: 1 1;
  flex: 1 1;
  background-color: #303030;
  height: 100%;
  overflow: hidden;
  width: 100%; }

.overflow {
  overflow: auto !important; }

.e-font-position-left {
  margin-left: 15px;
  padding-top: 15px;
  text-align: left; }

.e-font-position-center {
  margin-top: 5px;
  text-align: center; }

.e-font-position-right {
  margin-top: 5px;
  text-align: right; }

/***SASS Color Variables for all themes Use descritive names in your classes when possible.
    Do not add any colors to these variables without prior approval as this is a shared
    library and may effect other applications***/
/*---------------------------------------------*\
        #SECTION-BASE-COLOR-VARIABLES
\*---------------------------------------------*/
/*---------------------------------------------*\
        #SECTION-SEVERITY-COLORS-VARIABLES
\*---------------------------------------------*/
/*---------------------------------------------*\
  #SECTION-DESCRIPTIVE-BASE-COLORS_VARIABLES
\*---------------------------------------------*/
/*---------------------------------------------*\
  #SECTION-FUNCTIONAL-BASE-COLORS_VARIABLES
\*---------------------------------------------*/
a {
  text-decoration: none; }

.link {
  text-decoration: underline; }

.link:hover {
  text-decoration: underline; }

.link:visited {
  color: #b200ff; }

/*# sourceMappingURL=shared.css.map */
