/***SASS Color Variables for all themes Use descritive names in your classes when possible.
    Do not add any colors to these variables without prior approval as this is a shared
    library and may effect other applications***/
/*---------------------------------------------*\
        #SECTION-BASE-COLOR-VARIABLES
\*---------------------------------------------*/
/*---------------------------------------------*\
        #SECTION-SEVERITY-COLORS-VARIABLES
\*---------------------------------------------*/
/*---------------------------------------------*\
  #SECTION-DESCRIPTIVE-BASE-COLORS_VARIABLES
\*---------------------------------------------*/
/*---------------------------------------------*\
  #SECTION-FUNCTIONAL-BASE-COLORS_VARIABLES
\*---------------------------------------------*/
/*---------------------------------------------*\
  #SECTION-THEMING MIXINS
\*---------------------------------------------*/
/*---------------------------------------------*\
  #SECTION-FLEXBOX BASE MIXINS
\*---------------------------------------------*/
/*---------------------------------------------*\
  #SECTION-BOX SHADOWS-BASE-MIXINS
\*---------------------------------------------*/
/*---------------------------------------------*\
  #SECTION-BOX Animation & Keyframes -MIXINS
\*---------------------------------------------*/
/*---------------------------------------------*\
  #SECTION-TRANSITION-MIXINS
\*---------------------------------------------*/
/*---------------------------------------------*\
  #SECTION-BOX Box-Model -MIXINS
\*---------------------------------------------*/
/*---------------------------------------------*\
  #SECTION-Text
\*---------------------------------------------*/
/***SASS Color Variables for all themes Use descritive names in your classes when possible.
    Do not add any colors to these variables without prior approval as this is a shared
    library and may effect other applications***/
/*---------------------------------------------*\
        #SECTION-BASE-COLOR-VARIABLES
\*---------------------------------------------*/
/*---------------------------------------------*\
        #SECTION-SEVERITY-COLORS-VARIABLES
\*---------------------------------------------*/
/*---------------------------------------------*\
  #SECTION-DESCRIPTIVE-BASE-COLORS_VARIABLES
\*---------------------------------------------*/
/*---------------------------------------------*\
  #SECTION-FUNCTIONAL-BASE-COLORS_VARIABLES
\*---------------------------------------------*/
/** Default colors for entire application. Colors may be changed or added with the settings.global-sass-colors.scss file. All colors are using SASS variables
If updating colors you must create new SASS variables DO NOT use hex colors in any files other than settings.global-sass-colors.scss **/
/*---------------------------------------------*\
        #SECTION-ICON-BASE-COLORS
\*---------------------------------------------*/
.t-stroke-fill {
  opacity: .9;
  stroke: #fff; }

.t-stroke-fill-save {
  margin-left: 20px;
  stroke: #fff; }

.t-icon-fill {
  fill: #fff;
  opacity: .9; }

.t-icon-fill-dark {
  fill: #888;
  stroke: #888; }

.t-icon-hover:hover {
  -webkit-transition: border 0.5s ease;
  -moz-transition: border 0.5s ease;
  transition: border 0.5s ease;
  border: 1px solid rgba(128, 128, 128, 0.5);
  box-shadow: 0 3px 7px -3px rgba(0, 0, 0, 0.75);
  cursor: pointer; }

/*---------------------------------------------*\
        #SECTION-BORDER-BASE-COLORS
\*---------------------------------------------*/
.t-border-bottom {
  border-bottom: 2px solid #fff; }

.t-border-right {
  border-right: 1px solid #fff; }

.t-border-left {
  border-left: 1px solid #fff; }

.t-border-bottom-thin {
  border-bottom: 1px solid #fff; }

.t-border-bottom-grey {
  border-bottom: 2px solid #bfbfbf; }

.t-border-bottom-thick-grey {
  border-bottom: 4px solid #bfbfbf; }

.t-border-bottom-grey48 {
  border-bottom: 1px solid #ddd; }

.t-border-layout-mode {
  border: 4px solid #ce7b1f; }

.t-border-top-blue {
  border-top: 1px solid #4f607b; }

.t-border-left-blue {
  border-left: 4px solid #2a3e5d; }

/*---------------------------------------------*\
            #SECTION-ICON-SIZES
\*---------------------------------------------*/
.t-icon-size-small {
  height: 12px;
  width: 12px; }

.t-icon-size-default {
  height: 18px;
  width: 18px; }

.t-icon-size-medium {
  height: 22px;
  width: 22px; }

.t-icon-size30 {
  height: 28px;
  width: 28px; }

.t-icon-menu {
  height: 26px;
  width: 28px; }

.t-icon-size-large {
  height: 31px;
  width: 31px; }

.t-new-display-icons {
  height: 32px;
  opacity: .7;
  transform: translateY(22%);
  width: 32px; }

.t-empty-display-symbol-icon {
  height: 24px;
  opacity: .7;
  transform: translateY(22%);
  width: 149px; }

@media all and (max-width: 1220px) and (min-width: 1028px) {
  .t-new-display-icons {
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    transition: all 0.5s ease;
    height: 24px;
    width: 24px; } }
@media all and (max-width: 1024px) and (min-width: 800px) {
  .t-new-display-icons {
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    transition: all 0.5s ease;
    height: 23px;
    width: 23px; } }
@media all and (max-width: 800px) and (min-width: 100px) {
  .t-new-display-icons {
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    transition: all 0.5s ease;
    height: 21px;
    width: 21px; } }
@media only screen and (max-device-width: 1024px) and (orientation: landscape) {
  .t-new-display-icons {
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    transition: all 0.5s ease;
    height: 25px;
    width: 25px; } }
@media only screen and (max-device-width: 768px) and (orientation: portrait) {
  .t-new-display-icons {
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    transition: all 0.5s ease;
    height: 21px;
    width: 21px; } }
@media only screen and (max-device-width: 1024px) and (orientation: portrait) {
  .t-new-display-icons {
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    transition: all 0.5s ease;
    height: 21px;
    width: 21px; } }
@media all and (max-width: 1220px) and (min-width: 1028px) {
  .t-empty-display-symbol-icon {
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    transition: all 0.5s ease;
    height: 18px;
    width: 149px; } }
@media all and (max-width: 1024px) and (min-width: 800px) {
  .t-empty-display-symbol-icon {
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    transition: all 0.5s ease;
    height: 16px;
    width: 139px; } }
@media all and (max-width: 800px) and (min-width: 100px) {
  .t-empty-display-symbol-icon {
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    transition: all 0.5s ease;
    height: 16px;
    width: 139px; } }
@media only screen and (max-device-width: 1024px) and (orientation: landscape) {
  .t-empty-display-symbol-icon {
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    transition: all 0.5s ease;
    height: 18px;
    width: 149px; } }
@media only screen and (max-device-width: 768px) and (orientation: portrait) {
  .t-empty-display-symbol-icon {
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    transition: all 0.5s ease;
    height: 16px;
    width: 149px; } }
@media only screen and (max-device-width: 1024px) and (orientation: portrait) {
  .t-empty-display-symbol-icon {
    height: 16px;
    width: 149px; } }
/*---------------------------------------------*\
        #SECTION-FONT-BASE-COLORS
\*---------------------------------------------*/
.t-font-white {
  color: #fff;
  font-size: 14px; }

.t-font-color-white {
  color: #fff; }

.t-font-color-lt-grey {
  color: #bfbebe; }

.t-font {
  font-size: 12px; }

.t-font-italic {
  font-style: italic; }

.t-font-menu {
  font-size: 12px; }

.t-font-black {
  color: #000; }

.t-font-grey {
  color: #888; }

.t-font-dk-grey {
  color: #333; }

.t-font-submenu {
  font-size: 12px; }

.subhead-text-fill {
  fill: #434343; }

/*---------------------------------------------*\
        #SECTION-FONT-SIZES
\*---------------------------------------------*/
.t-content-font-small {
  font-size: 10px; }

.t-content-font-small-bold {
  font-size: 10px;
  font-weight: bold; }

.t-content-font-medium {
  font-size: 16px; }

.t-content-font-medium-bold {
  font-size: 16px;
  font-weight: bold; }

.t-content-font-large {
  font-size: 18px; }

.t-content-font-large-bold {
  font-size: 18px;
  font-weight: bold; }

.t-content-font-24px {
  font-size: 24px; }

.t-content-font-larger {
  font-size: 21px; }

.t-content-font-xlarge {
  font-size: 34px; }

@media (max-width: 1900px) {
  .t-font-content-font-24px {
    font-size: 24px; } }
@media all and (max-width: 1220px) and (min-width: 1028px) {
  .t-content-font-24px {
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    transition: all 0.5s ease;
    font-size: 21px; } }
@media all and (max-width: 1028px) and (min-width: 800px) {
  .t-content-font-24px {
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    transition: all 0.5s ease;
    font-size: 18px; } }
@media all and (max-width: 800px) and (min-width: 100px) {
  .t-content-font-24px {
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    transition: all 0.5s ease;
    font-size: 16px; } }
@media only screen and (max-device-width: 768px) and (orientation: landscape) {
  .t-content-font-24px {
    font-size: 21px; } }
@media only screen and (max-device-width: 1024px) and (orientation: landscape) {
  .t-content-font-24px {
    font-size: 21px; } }
@media only screen and (max-device-width: 768px) and (orientation: portrait) {
  .t-content-font-24px {
    font-size: 16px; } }
@media only screen and (max-device-width: 1024px) and (orientation: portrait) {
  .t-content-font-24px {
    font-size: 16px; } }
.t-content-font-xlarge-bold {
  font-size: 34px;
  font-weight: bold; }

.t-content-font {
  font-size: 14px; }

@media only screen and (max-device-width: 768px) and (orientation: portrait) {
  .t-content-font {
    font-size: 12px;
    margin-left: 2px; } }
@media only screen and (max-device-width: 1024px) and (orientation: landscape) {
  .t-content-font {
    font-size: 12px; } }
.t-content-font-bold {
  font-size: 14px;
  font-weight: bold; }

.t-content-font-italic {
  font-size: 14px;
  font-style: italic; }

/*---------------------------------------------*\
        #SECTION-HEADER-BASE-COLORS
\*---------------------------------------------*/
.t-header {
  background-color: #091d3a; }

.t-header-gradient {
  background: #072c50;
  background: -moz-linear-gradient(left, #072c50 0, #091d3a 100%);
  background: -webkit-gradient(linear, left top, right top, color-stop(0, #072c50), color-stop(100%, #091d3a));
  background: -webkit-linear-gradient(left, #072c50 0, #091d3a 100%);
  background: -ms-linear-gradient(left, #072c50 0, #091d3a 100%);
  background: linear-gradient(to right, #072c50 0, #091d3a 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$start-color', endColorstr='$end-color',GradientType=1 ); }

.t-divider {
  background: #fff; }

.t-divider-lt {
  background: #60748c; }

.t-divider-dk {
  background: #314052; }

.c-app-logo:hover {
  cursor: pointer; }

.t-new-display-rollover:hover > div {
  color: #93cadc;
  cursor: pointer;
  fill: #93cadc; }

/*---------------------------------------------*\
        #SECTION-LEFT-MENU-BASE-COLORS
\*---------------------------------------------*/
.t-menu {
  background-color: #091d3a; }

/*---------------------------------------------*\
       #SECTION-DISPLAY-AREA-BASE-COLORS
\*---------------------------------------------*/
.t-display-container {
  background-color: #303030; }

.t-display-content-color {
  color: #fff; }

.t-display-content-font {
  font-size: 14px; }

@media only screen and (max-device-width: 768px) and (orientation: portrait) {
  .t-display-content-font {
    font-size: 12px; } }
@media only screen and (max-device-width: 1024px) and (orientation: landscape) {
  .t-display-content-font {
    font-size: 12px; } }
.t-submenu-color {
  color: #fff; }

.t-display-header {
  background-color: #2a3e5d; }

/*---------------------------------------------*\
       #SECTION-BACKGROUND-COLORS
\*---------------------------------------------*/
.t-white-background {
  background-color: #fff; }

.t-menu-background {
  background-color: #e3e7ea; }

/*---------------------------------------------*\
            #SECTION-CONTENT AREA-COLORS
\*---------------------------------------------*/
/* styles are only for UX steering*/
.t-content-container-bg-color {
  background-color: #fff; }

.t-content-color {
  color: #fff; }

.t-content-header-container-bg-color {
  background-color: #2a3e5d; }

/*---------------------------------------------*\
       #SECTION-PANEL-CONTROLLER-COLORS
\*---------------------------------------------*/
.t-pane-header-color {
  background-color: #2a3e5d; }

.t-side-panel-bgcolor {
  background-color: #ddd; }

.t-side.panel-bkgcolor {
  background-color: #ddd; }

/*---------------------------------------------*\
       #SECTION-PANEL-START PAGE
\*---------------------------------------------*/
.t-nav-list {
  color: #93cadc;
  font-size: 16px; }

.error {
  color: #c00;
  margin-top: 2px; }

/*---------------------------------------------*\
        #SECTION-TOOLBAR-BASE-COLORS
\*---------------------------------------------*/
.t-toolbar {
  background-color: #48586b; }

/*---------------------------------------------*\
        #SECTION-Trend Colors
\*---------------------------------------------*/
/* t-trend-background uses "background-color" for HTML and "fill" for svg.
    This is so that we can just change color in one place and have it
    get picked up for both Trend background and Legend background. */
.t-trend-background {
  background-color: #303030;
  fill: #303030; }

/*---------------------------------------------*\
        #SECTION-Table Symbol Colors
\*---------------------------------------------*/
.t-data-row-even {
  background-color: #afafaf; }

.t-data-table-row-odd {
  background-color: #4e4e4e; }

/*# sourceMappingURL=theme.base-colors.css.map */
